<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Application 1</title>
		<link rel="stylesheet" href="/styleA1.css" />
	</head>
	<body class="blackbody">
		<div class="appli1">
			<h1> Application 1</h1>
			 For more stuff check the <a class="red" href="/protected">protected area</a> ;) !
		 </div>
	</body>
</html>	
