<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Application 2 - protected area</title>
		<link rel="stylesheet" href="/styleA2.css" />
	</head>
	<body class="body2">
		<div class="appli2">
			<h1> Application 1</h1>
			 Hello <%= @login %>, welcome into the protected area :)
		 </div>
	</body>
</html>	
