<!DOCTYPE html>
<html>
<head>
  <title>Registration page</title>
</head>
<body>

<h1>Welcome to the authentification service</h1>
<p>To suscribe thank you for completing this form</p>

<form action="/user/new" method="post">
  <div class="field">
  
  <p class="notice"></p>
    <label for="sauth_login">Login</label><br />

    <input id="sauth_login" name="login" size="30" type="text" />
  </div>
  <div class="field">
    <label for="sauth_password">Password</label><br />
    <input id="sauth_password" name="password" size="30" type="password" />
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Create my account" />

  </div>
</form>

</body>
</html>

