<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Registration page</title>
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body class="redbody">
		<div class="register">
			<div class="register_img">
				<img src="/ruby.png" alt="ruby" />
			</div>
			<div class="content">
				<h2>Create an Account</h2>
				<div class="form_part">
					<p class="register_info">
					Your RubyAuth account gives you acces to all application who uses RubyAuth.
					</p>
					<div class="register_error">
				          <% if @u %>
				          <%= @u.errors.full_messages %>
				          <% end %>
					</div>
					<div class="register_form">
						<form method="post" action="/user">
								<label>Login : </label>
								<input type="text" name="user[login]" value="<%= if @u; @u.login end %>"/>
								<br /><br />
								<label>Password : </label>
								<input type="password" name="user[password]" />
								<br />
								<br />
								<div>
									<input type="submit" value="Create" />
								</div>
								<p class="signup">Already have an account? <a class="red" href="/session/new">Sign in</a>. </p>
						</form>
					</div>
				</div>
			</div>
		 </div>
	</body>
</html>	
