.body2{
	margin:0px;
	padding:0px;
	height: 100%;
	background:#E6E3D4;
}
.appli2{
  width:30%;
  margin-right:auto;
  margin-top:10%;
  margin-left:auto;
  padding:20px;
  font-family:Arial;
  font-size:14px;
  background:white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px white;
}

a.red{
color:#820500;
text-decoration:underline;
}

