<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>404</title>
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body class="body_index">
		<div class="header_index">
			<div class="header_img">
				<img src="/ruby.png" width="100px" height="100px" alt="logo" />
			</div>
			<div class="header_text">
			Authentification service
			</div>
			
		</div>
		<div class="effect">&nbsp;</div>
		<div class="index_content">
			<div class="box404">
				<h1>404 - OOPS!</h1>
				Sorry but the but page you are looking for is not here :(<br /> 
				<a href ="/" class="red">Return to the home page</a>
			</div>
		</div>
	</body>
</html>	
