<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>
			Administration
		</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body class="body_index">
		<div class="header_index">
			<div class="header_img">
				<img src="ruby.png" width="100px" height="100px" alt="logo" />
			</div>
			<div class="header_text">
			Authentification service
			</div>
		</div>
		<div class="effect">&nbsp;</div>
		<div class="index_content">
			<div class="box">
				<h1>Administration</h1>
				
				<div class="index_appli">
				<div class="disconnect"><a href="/session/destroy">disconnect</a></div>
					<div class="appli_title">
						<h2>List of applications</h2>
					</div>
					<div class="appli_img">
					</div>
				</div>
				<p class="clear"></p>
				<% if @a && !@a.empty? %>
				<ul>
				  <% @a.each do |app| %>
				  <li><%= app.name %> &nbsp;<a href="/appli/<%= app.name %>/destroy"><img src="delete.png" alt="delete the application" /></a></li>
				  <% end %>
				</ul>
				<% else %>
				  Nobody have record an application.
		 		<% end %>
				<br /><br />
				<h2>List of users</h2>
				<% if @user && !@user.empty? %>
				<ul>
				  <% @user.each do |us| %>
				  <li><%= us.login %> &nbsp;<a href="/user/<%= us.login %>/destroy"><img src="delete.png" alt="delete the application" /></a></li>
				  <% end %>
				</ul>
				<% else %>
				  Nobody use the sauth :(
		 		<% end %>
			</div>
		</div>
	</body>
</html>	
