<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>login page</title>
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body class="redbody">
		<div class="login">
			<div class="login_img">
				<img src="/ruby.png" alt="ruby" />
			</div>
			<div class="login_form">
				<p class="error"> 
				  	<% if @u %>
					<%= "Invalid login/password" %>
				        <% end %>
				 </p>
				<form method="post" action="/session">
						<label>Login : </label>
						<input type="text" name="user[login]" value="<%= if @u; @u.login end %>" />
						<br /><br />
						<label>Password : </label>
						<input type="password" name="user[password]" />
						<br />
						<br />
						<div>
							<input type="submit" value="Sign in" />
						</div>
						<p class="signup">Don't have an account? <a class="red" href="/user/new">Sign up</a>. </p>
				</form>
			</div>
		 </div>
	</body>
</html>	
